<header><h1>Hill-Cipher Encryption and Decryption</h1></header>

<%= form_with model: @calculator, local: true do |f|   %>
  <div>
    <h2>2x2 Matrix encryption and decryption</h2>
  </div>
  <div>
    <h3>Phrase to encrypt/decrypt:
      <%= f.text_field :twobytwomsg %></h3>
  </div>
  <div>
    <h3>Encryption matrix:</h3>
  </div>
  <div>
    <%= number_field_tag :a1, params[:a1] %>
    <%= number_field_tag :b1, params[:b1] %><br>
    <%= number_field_tag :c1, params[:c1] %>
    <%= number_field_tag :d1, params[:d1] %>
  </div>
  <div>
    <%= select_tag :operation, options_for_select([['Encrypt', :encrypt], ['Decrypt', :subr]], params[:operation]) %>
  </div>
  <div>
    <%= f.submit 'Go!' %>
  </div>
<% end %>

<% unless @twobytwo.nil? %>
  <div>
    <p class="result"> = <%= @twobytwo %> </p>
  </div>
<% end %>

<br>
<hr>

<%= form_with model: @calculator, local: true do |f| %>
  <div>
    <h2>Try/Bruteforce random 2x2 decryption values</h2>
    <p class="result">Warning: this will print 500 matrix solution pairs</p>
    <p>Matrix solution pairs are sorted by whether or not they spell an English word. Only attempts values between 0 and 10. Throws out matrices who determinants do not have a prime cofactor (because it will not be able to find it's modular inverse).</p>
  </div>
  <div>
    <h3>Phrase to encrypt/decrypt:
      <%= f.text_field :text %></h3>
  </div>
  <div>
    <%= f.submit 'Go!' %>
  </div>
<% end %>

<% unless @brute.nil? %>
  <div>
    <p class="result"> = <% @brute.each do |attempt| %>
      <tr>
        <td><p class="result"><%= attempt %></p></td>
      </tr>
    </p>
  <% end %>
  </div>
<% end %>

<br>
<hr>

<%= form_with model: @calculator, local: true do |f| %>
  <div>
    <h2>Hard Mode Cipher Encryption/Decryption</h2>
    <p>In  order to increase the difficulty of breaking your crypto-system, you decide to encipher your messages using a Hill 2-cipher by first applying the matrix [3, 11, 4, 15] working modulo 26 and then applying the matrix [10, 15, 5, 9] working modulo 29.<br>
    Thus, while your plain-texts are in the usual 26 letter alphabet, your cipher-texts will be in the alphabet with 0-25 as usual and blank=26, ?=27, and !=28.</p>
  </div>
  <div>
    <h3>Phrase to encrypt/decrypt:
      <%= f.text_field :hmmsg %></h3>
  </div>
  <div>
    <%= select_tag :operation, options_for_select([['Encrypt', :encrypt], ['Decrypt', :subr]], params[:operation]) %>
  </div>
  <div>
    <%= f.submit 'Go!' %>
  </div>
<% end %>

<% unless @hardmode.nil? %>
  <div>
    <p class="result"> = <%= @hardmode %> </p>
  </div>
<% end %>

<br>
<hr>

<%= form_with model: @calculator, local: true do |f| %>
  <div>
    <h2>3x3 Matrix Encryption and Decryption</h2>
  </div>
  <div>
    <h3>Phrase to encrypt/decrypt:
      <%= f.text_field :threemsg %></h3>
  </div>
  <div> <h3>Encryption matrix:</h3> </div>
  <div>
    <%= number_field_tag :x3a1, params[:x3a1] %>
    <%= number_field_tag :x3b1, params[:x3b1] %>
    <%= number_field_tag :x3c1, params[:x3c1] %><br>
    <%= number_field_tag :x3a2, params[:x3a2] %>
    <%= number_field_tag :x3b2, params[:x3b2] %>
    <%= number_field_tag :x3c2, params[:x3c2] %><br>
    <%= number_field_tag :x3a3, params[:x3a3] %>
    <%= number_field_tag :x3b3, params[:x3b3] %>
    <%= number_field_tag :x3c3, params[:x3c3] %><br>
  </div>
  <div>
    <%= select_tag :operation, options_for_select([['Encrypt', :encrypt], ['Decrypt', :subr]], params[:operation]) %>
  </div>
  <div>
    <%= f.submit 'Go!' %>
  </div>
<% end %>

<% unless @threebythree.nil? %>
  <p class="result"> = <%= @threebythree %> </p>
<% end %>
