// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

header {
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, {
    font-family: 'Baloo Bhaina 2', cursive;
}

p, body {
    font-family: 'Baloo Bhaina 2', cursive;
}


div {
    padding-left: 20px;
    padding-right: 20px;
}

.text_field {
    width: 300px;
}

input[type="number"] {
    width: 50px;
}

.submit {
    width: 200px;
}

.result {
    color: #db4242;
}
